@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<h1>Upload an Image</h1>
<form method="post" enctype="multipart/form-data">

    <input type="text" id="inputUrl" asp-for="ImageFilePath" placeholder="Image URL"/><br />
    <span>-or-</span>

    <input type="file" asp-for="FormFile" />
    <br />

    <button type="submit"> Upload </button>



</form>

@if (Model.ResponseContent != null)
{
    @*<section>
        <p>@Model.responseContent</p>
    </section>*@
  <img src="~/test.PNG" />
  <textarea rows="10" cols="50">@Model.ResponseString</textarea>
}