@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<h1>Upload an Image</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Title of Note" asp-for="Title" />
    </br>
    <input type="file" asp-for="FormFile" />
    <button type="submit"> Upload </button>
</form>

<p>Select a jpg, png, or bmp image type</p>
<p>4MB's or smaller</p>
<p>40x40 min, 3200x3200 max</p>

<p>@TempData["Error"]</p>


@if (Model.ResponseContent != null)
{
    <img src="~/test.PNG" />
    <textarea rows="10" cols="50">@Model.ResponseString</textarea>
}